<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReportGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ReportGen.Properties.Settings.Christian_FranciscoCS" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=adChristian_Francisco;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Christian_FranciscoEntities" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=adChristian_Francisco;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <ReportGen.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>DESKTOP-43GHU92\SQLEXPRESS</value>
      </setting>
      <setting name="dbname" serializeAs="String">
        <value>adChristian_Francisco</value>
      </setting>
      <setting name="connStr" serializeAs="String">
        <value>Data Source=DESKTOP-43GHU92\SQLEXPRESS;Initial Catalog=adChristian_Francisco;User ID=Administrator;Password=123123</value>
      </setting>
      <setting name="header1" serializeAs="String">
        <value/>
      </setting>
      <setting name="header2" serializeAs="String">
        <value/>
      </setting>
      <setting name="chktotals" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="Countopn" serializeAs="String">
        <value>0</value>
      </setting>
    </ReportGen.Properties.Settings>
  </userSettings>
</configuration>
